.bookFormContainer {
  width: 448px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);
}

.fieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.bookFormTitle {
  color: #101828;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 8px;
}

.bookFormText {
  color: #475467;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.label {
  display: inline-flex;
  padding: 18px 337px 18px 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #f7f7f7;
}

.field {
  background-color: #f7f7f7;
  color: rgba(16, 24, 40, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  border-style: none;
}
.fieldTextArea {
  background-color: #f7f7f7;
  color: rgba(16, 24, 40, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  border-style: none;
  height: 114px;
}

.sendButton {
  display: flex;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: #e44848;
  width: fit-content;
}

.sendButtonText {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.08px;
}
